<!DOCTYPE html>
<html>
<head>
  <title>Iamspotify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class='main-body'>
  <h2 class="main-heading" align="center"> IamSpotify </h2>
  <div align="right">
  <% unless @spotify_user %>
    <%= link_to 'Sign in with Spotify', '/auth/spotify' , class: "btn btn-info btn-lg"%>
  <% else %>
    <%= @spotify_user.email %>
    <%= link_to 'Sign out', user_logout_path , class: "btn btn-info btn-lg"%>
  <% end %>

  </div>
  <br>
  <br>
  <% if @spotify_user %>
    <ul>
      <li><a class="playlists-link" href="/playlists">Playlist</a></li>
      <li><a class="followers-link" href="/followers">Followers</a></li>
      <li><a class="artists-link" href="/artists">Search Artists</a></li>
      <li><a class="albums-link" href="/albums">Search Album</a></li>
    </ul>
  <% end %>
<%= yield %>

</body>
</html>
