<!DOCTYPE html>
<html>
<head>
  <title>Iamspotify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h2 class="main-heading" align="center"> IamSpotify </h2>
  <div align="right">
  <% unless session['user_id'] %>
    <%= link_to 'Sign in with Spotify', '/auth/spotify' , class: "btn btn-info btn-lg"%>
  <% else %>
    <%= session['user_id'] %>
    <%= link_to 'Sign out', user_logout_path , class: "btn btn-info btn-lg"%>
  <% end %>

  </div>
  <br>
  <br>
  <% if @spotify_user %>
    <ul>
      <li><a class="active" href="/playlist">Playlist</a></li>
      <li><a href="/followers">Followers</a></li>
      <li><a href="#contact">Follows</a></li>
      <li><a href="#about">About</a></li>
    </ul>
  <% end %>
<%= yield %>

</body>
</html>
